.color-light-blue
  background-color: #EDFAFC
.shadow-box
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .2);
.neg-margin-x
  margin-left: -3rem
  margin-right: -3rem
a
  color: #000
.r-0
  border-radius: 0px !important
.customCaption
  background-color: transparent
  border-left: 4px solid #FFA726
  font-size: 13px
.customCaption-bold
  background-color: transparent
  border-left: 4px solid #FFA726
  font-weight: 700
  font-size: 18px
.nW
  width: auto
.centered
  margin: 0 auto
.customBox
  background-color: #FFEFD7!important
  border: 3px solid #FFA726